.green-button {
    display: inline-flex;
    justify-content: center;
    /* align-items: center; */
    width: 30px;
    height: 30px;
    background-color: rgb(0, 192, 0);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 0.5;
    cursor: pointer;
}

.red-button {
    display: inline-flex;
    justify-content: center;
    /* align-items: center; */
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 10%;
    color: white;
    font-size: 45px;
    font-weight: bold;
    line-height: 0.5;
    cursor: pointer;
}



